@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as typography;

.page-title {
  @include flex-center;
  gap: 24px;
  @include typography.heading-sm;
  color: var(--color-white);
  padding-bottom: 24px;

  span {
    font-weight: 700;
    color: var(--color-white-25);
  }

  @media (min-width: $bp-tablet) {
    @include flex(row, center, flex-start);
  }
}
