@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as typography;

.destination__tabs {
  display: flex;
  gap: 32px;

  button {
    @include typography.body-sm;
    background: none;
    border: none;
    color: var(--color-blue-light);
    text-transform: uppercase;
    padding-bottom: 12px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: 0.25s;

    &:hover {
      border-bottom-color: var(--color-white-50);
    }

    &.active {
        border-bottom-color: var(--color-white);
        color: var(--color-white);
      }
  }
}
