@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as typography;

.destination {
  &__container {
    @include content-wrapper;
    flex-grow: 1;
    @include flex(column);
  }

  &__content {
    width: 100%;
    @include flex-center(column);
    gap: 32px;

    @media (min-width: $bp-desktop) {
      @include flex-center;
      flex-grow: 1;
    }
  }

  &__info {
    @media (min-width: $bp-desktop) {
      flex-basis: calc(50% - 16px);
    }
  }

  &__exposition {
    @include flex-center(column);
    gap: 24px;
    max-width: 514px;

    @media (min-width: $bp-tablet) {
      padding: 12px 0;
    }
    @media (min-width: $bp-desktop) {
      @include flex(column, flex-start, center);
      gap: 40px;
      max-width: 445px;
      margin: 0 auto;
      padding: 0;
    }
  }
  &__heading {
    @include flex-center(column);
    text-align: center;
    gap: 16px;

    @media (min-width: $bp-desktop) {
      @include flex(column, flex-start, center);
      text-align: left;
    }
  }

  &__image {
    margin: 0 auto;
    padding: 26px 0;

    @media (min-width: $bp-tablet) {
      padding: 42px 0;
    }

    @media (min-width: $bp-desktop) {
      flex-basis: calc(50% - 16px);
      padding: 0;
    }

    img {
      object-fit: contain;
      max-height: 150px;
      transition: transform 0.4s ease-out, filter 0.4s ease-out;
      will-change: transform, filter;
      backface-visibility: hidden;
      transform: translateZ(0);

      @media (min-width: $bp-tablet) {
        max-height: 300px;
      }

      @media (min-width: $bp-desktop) {
        max-height: 480px;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover img {
        transform: scale(1.03);
        filter: drop-shadow(0 0 15px var(--color-white-50));
      }
    }
  }

  &__line {
    background-color: var(--color-white-25);
    border: none;
    width: 100%;
    height: 1px;
    margin: 24px 0;

    @media (min-width: $bp-desktop) {
      margin: 40px 0;
    }
  }

  &__facts {
    width: 100%;
    @include flex-center(column);
    gap: 24px;

    @media (min-width: $bp-tablet) {
      @include flex-center;
    }

    @media (min-width: $bp-desktop) {
      @include flex(row, center, flex-start);
    }
  }

  &__fact {
    @include flex-center(column);
    gap: 12px;

    @media (min-width: $bp-tablet) {
      flex-basis: 50%;
    }

    @media (min-width: $bp-desktop) {
      @include flex(column, flex-start, center);
    }
  }

  &__stat {
    @include typography.caption;
    text-transform: uppercase;
    color: var(--color-blue-light);
  }

  &__values {
    @include typography.body-lg;
    color: var(--color-white);
    text-transform: uppercase;
  }
}
