@use "./fonts" as *;
@use "./variables" as *;
@use "./mixins" as *;
@use "./typography" as *;

@use "./components/mobile-menu";
@use "./components/nav-link";
@use "./components/page-title";
@use "./components/paginations";
@use "./components/section/section-subtitle";
@use "./components/section/section-text";
@use "./components/section/section-title";
@use "./components/section/section";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: black;
}

.app-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;

 


  &.home {
    background-image: url("/assets/images/background-home-mobile.jpg");

    @media (min-width: $bp-tablet) {
      background-image: url("/assets/images/background-home-tablet.jpg");
    }

    @media (min-width: $bp-desktop) {
      background-image: url("/assets/images/background-home-desktop.jpg");
    }
  }

  &.destination {
    background-image: url("/assets/images/background-destination-mobile.jpg");

    @media (min-width: $bp-tablet) {
      background-image: url("/assets/images/background-destination-tablet.jpg");
    }

    @media (min-width: $bp-desktop) {
      background-image: url("/assets/images/background-destination-desktop.jpg");
    }
  }

   &.crew {
     background-image: url("/assets/images/background-crew-mobile.jpg");

  @media(min-width: $bp-tablet) {
    background-image: url("/assets/images/background-crew-tablet.jpg");
  }

  @media(min-width: $bp-desktop) {
    background-image: url("/assets/images/background-crew-desktop.jpg");
    } 
  }

   &.technology {
  background-image: url("/assets/images/background-technology-mobile.jpg");

  @media(min-width: $bp-tablet) {
    background-image: url("/assets/images/background-technology-tablet.jpg");
  }

   @media(min-width: $bp-desktop) {
    background-image: url("/assets/images/background-technology-desktop.jpg");
  }
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
}

img {
 display: block;
 width: 100%;
 height: auto;
 object-fit: cover;

}
