@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/typography" as typography;

.crew {
  overflow-y: hidden;
  
  @media (min-width: $bp-tablet) {
    padding-bottom: 0;
  }

  @media (min-width: $bp-desktop) {
    padding: 48px 0;
  }

  &__container {
    @include content-wrapper;
    flex-grow: 1;
    @include flex(column);
  }

  &__content {
    @include flex(column, center, space-between);
    gap: 32px;
    flex-grow: 1;

    @media (min-width: $bp-desktop) {
      @include flex(row, stretch, space-between);
      height: 734px;
    }
  }

  &__info {
    padding-top: 40px;
    @include flex(column, center, space-between);
    gap: 24px;
    max-width: 512px;

    @media (min-width: $bp-desktop) {
      padding: 0;
      @include flex(column, flex-start, center);
      gap: 40px;
      flex-basis: calc(50% - 16px);
      max-width: none;
    }
  }

  &__exposition {
    @include flex(column, center, space-between);
    text-align: center;
    gap: 24px;

    @media (min-width: $bp-tablet) {
      padding-bottom: 40px;
    }

    @media (min-width: $bp-desktop) {
      @include flex(column, flex-start, center);
      flex-grow: 1;
      text-align: left;
      padding-bottom: 0;
    }
  }

  &__name {
    @include flex-center(column);
    gap: 8px;

    @media (min-width: $bp-tablet) {
      gap: 16px;
    }
    @media (min-width: $bp-desktop) {
      @include flex(column, flex-start, center);
    }
  }

  &__image {
    overflow: hidden;
    @include flex(column, center, flex-end);
    width: 100%;
    min-height: 350px;

    @media (min-width: $bp-tablet) {
      padding-top: 40px;
    }

    @media (min-width: $bp-desktop) {
      padding-bottom: 30px;
      height: 100%;
      @include flex(column, center, flex-end);
      flex-basis: calc(50% - 16px);
    }

    img {
      object-fit: contain;
      max-height: 340px;
      width: auto;
      -webkit-mask-image: var(--image-fade-mask);
      mask-image: var(--image-fade-mask);
      -webkit-mask-origin: content-box;
      mask-origin: content-box;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      transform-origin: bottom center;

      @media (min-width: $bp-tablet) {
        max-height: 560px;
        margin-bottom: -56px;
      }

      @media (min-width: $bp-desktop) {
        margin-bottom: 0;
        margin-top: auto;
        max-height: 676px;
      }
    }
  }
}
