@use "../../variables" as *;
@use "../../mixins" as *;

.section {
  @include flex-center(column);
  padding: 24px 0;

  @media (min-width: $bp-tablet) {
    padding: 40px 0;
  }

  @media (min-width: $bp-desktop) {
    padding: 48px 0;
    min-height: 100vh;
  }
}
